@charset 'utf-8';

///////////////////////
//hennsuu/
///////////////////////
$sky: #06BEB6;
$navy: #283C86;
$smoke: #F8F8F8;






///////////////////////
//mixin/
///////////////////////

@mixin pc {
    @media screen and (min-width:960px){
        @content;
    }
}

@mixin tab {
    @media screen and (max-width:959px){
        @content;
    }
}

@mixin sp {
    @media screen and (max-width:600px){
        @content;
    }
}

/////////////////////
//kyoutuu//
////////////////////

html {
    font-size: 62.5%;  //10px
}

body {
    font-size: 12px;
    line-height: 1.67;
}

.title {
    color: #707070;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: 0.54rem;
    @include sp {
        align-items: center;
    }
    &:after {
        display: inline-block;
        content: "";
        border-top: 1px solid ;
        width: 11.75rem;
        margin-left: 2.25rem;
    }
}

