@charset "UTF-8";
#reserve {
    width: 100%;
    height: 342px;
    position: relative; 
    @include sp {
        width: 100%;
        height: 260px;
    }
    .line {
        position: absolute;
        top: 164.5px;
        left: 8.35%;
        width: 83.3%;
        margin: 0 auto;
        border-top: 1px solid #70707036;
        @include sp {
            position: absolute;
            top: 24.4%;//63.5/260
            left: 5.35%;
            width: 89.3%;//335/375
        }
    }
    .reserve-wrap {
        width: 100%;
        height: 10.8%;//37px
        display: flex;
        font-family: "Roboto Mono for Powerline";
        position: absolute;
        bottom: 60px;
        left: 8.03%;
        @include sp {
            width: 100%;
            height: 52%;//136/260
            position: absolute;
            top: 47.7%;//124/260
            left: 0;
            position: relative;/////
        }
        &_logo {
            //position: absolute;
            //left: 8.03%;
            width: 20.1%;//258px
            color: #7070704D;
            font-size: 32px;
            letter-spacing: 0.302rem;
            height: 100%;
            line-height: 100%;
            @include sp {
                width: 38.7%;//145/375
                height: 13.2%;//18/136
                font-size: 1.8rem;
                letter-spacing: 0.18rem;
                position: absolute;
                top: 72.8%;//99/136
                left: 5.6%;//21/375
            }
            span {
                margin-left: 20px;
                @include sp {
                    margin-left: 10px;
                }
            }
        }
        &_icon {
            height: 100%;
            line-height: 37px;
            font-size: 20px;
            color: black;
            margin-left: 2.02%;
            width: 3.82%;//49/1282
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            @include sp {
                position: absolute;
                top: 72.8%;//99/136
                left: 81.1%;//304/375
                width: 3.82%;//49/1282
            }
            
        }
        .reserve-btn {
            //position: absolute;
            background-color: #fff;
            border: 1px solid #707070;
            width: 14.4%;
            margin: 0 auto;
            margin-left: 42.7%;
            font-size: 1.8rem;
            color: #707070;
            letter-spacing: 0.18rem;
            @include sp {
                position: absolute;
                top: 0;
                left: 25.47%;
                width: 49.1%;
                margin: 0 auto;
                
            }
        }
    }
}